<div class="menu">
  <button data-action="kanji#prev">‹ Zurück</button>
  <button data-action="kanji#next">Weiter ›</button>
  <button data-action="settings#toggleFont">Größe wechseln</button>
</div>
